In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, classification_report

In [67]:
df = pd.read_csv('train.csv')

In [68]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
df.drop(["Name", "PassengerId", "Ticket", "Cabin"], axis=1, inplace=True)

In [70]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [71]:
df['Sex'] = df['Sex'].map({"male": 0, "female": 1})
df['Embarked'] = df['Embarked'].map({"C": 0, "Q": 1, "S": 2})
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500       2.0
1         1       1    1  38.0      1      0  71.2833       0.0
2         1       3    1  26.0      0      0   7.9250       2.0
3         1       1    1  35.0      1      0  53.1000       2.0
4         0       3    0  35.0      0      0   8.0500       2.0

In [72]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [73]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.isnull().sum()

/tmp/ipykernel_14006/3139720851.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3139720851.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [74]:
x = df.drop("Survived", axis=1)
y = df["Survived"]

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [76]:
def get_output(model):
    final_df = pd.read_csv('test.csv')
    final_df_copy = final_df.copy()
    final_df.drop(["Name", "PassengerId", "Ticket", "Cabin"], axis=1, inplace=True)
    final_df['Sex'] = final_df['Sex'].map({"male": 0, "female": 1})
    final_df['Embarked'] = final_df['Embarked'].map({"C": 0, "Q": 1, "S": 2})
    final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
    final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)
    final_df.isnull().sum()

    predictions = model.predict(final_df)
    final_df_copy['Survived'] = predictions
    final_df_copy[['PassengerId', 'Survived']].to_csv('submission.csv', index=False)
    print("Submission file created successfully!")

In [77]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)
pridictions = model.predict(x_test)
print(accuracy_score(y_test, pridictions))
print(classification_report(y_test, pridictions))
get_output(model)

0.8100558659217877
              precision    recall  f1-score   support

           0       0.83      0.86      0.84       105
           1       0.79      0.74      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

Submission file created successfully!

/home/tanvir/anaconda3/envs/titanic/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [79]:
from sklearn.ensemble import  RandomForestClassifier
model = RandomForestClassifier()

model.fit(x_train, y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))
print(classification_report(y_test, predictions))

get_output(model)

0.8100558659217877
              precision    recall  f1-score   support

           0       0.84      0.84      0.84       105
           1       0.77      0.77      0.77        74

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

Submission file created successfully!

/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [82]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_train, y_train)
pred = model.predict(x_test)
print("KNN Accuracy:", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

get_output(model)

KNN Accuracy: 0.7039106145251397
              precision    recall  f1-score   support

           0       0.71      0.83      0.77       105
           1       0.68      0.53      0.60        74

    accuracy                           0.70       179
   macro avg       0.70      0.68      0.68       179
weighted avg       0.70      0.70      0.70       179

Submission file created successfully!

/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [83]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train, y_train)
pred = model.predict(x_test)
print("SVM Accuracy:", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

SVM Accuracy: 0.659217877094972
              precision    recall  f1-score   support

           0       0.64      0.94      0.76       105
           1       0.76      0.26      0.38        74

    accuracy                           0.66       179
   macro avg       0.70      0.60      0.57       179
weighted avg       0.69      0.66      0.61       179

In [86]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(x_train, y_train)
pred = model.predict(x_test)
print("Gradient Boosting Accuracy:", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

get_output(model)

Gradient Boosting Accuracy: 0.8100558659217877
              precision    recall  f1-score   support

           0       0.81      0.89      0.85       105
           1       0.81      0.70      0.75        74

    accuracy                           0.81       179
   macro avg       0.81      0.79      0.80       179
weighted avg       0.81      0.81      0.81       179

Submission file created successfully!

/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [88]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(x_train, y_train)
pred = model.predict(x_test)
print("Extra Trees Accuracy:", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

get_output(model)

Extra Trees Accuracy: 0.8212290502793296
              precision    recall  f1-score   support

           0       0.85      0.85      0.85       105
           1       0.78      0.78      0.78        74

    accuracy                           0.82       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.82      0.82      0.82       179

Submission file created successfully!

/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [90]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train, y_train)
pred = model.predict(x_test)
print("XGBoost Accuracy:", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

get_output(model)

XGBoost Accuracy: 0.7988826815642458
              precision    recall  f1-score   support

           0       0.83      0.83      0.83       105
           1       0.76      0.76      0.76        74

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179

Submission file created successfully!

/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [93]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC


model1 = LogisticRegression()
model2 = RandomForestClassifier()
model3 = SVC(probability=True)

ensamble = VotingClassifier(estimators=[('lr', model1), ('rf', model2), ('svc', model3)], voting='soft')
ensamble.fit(x_train, y_train)
pred = ensamble.predict(x_test)
print("Ensemble Accuracy:", accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

get_output(ensamble)

/home/tanvir/anaconda3/envs/titanic/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Ensemble Accuracy: 0.8212290502793296
              precision    recall  f1-score   support

           0       0.82      0.90      0.85       105
           1       0.83      0.72      0.77        74

    accuracy                           0.82       179
   macro avg       0.82      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

Submission file created successfully!

/tmp/ipykernel_14006/3718776054.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Age'].fillna(final_df['Age'].median(), inplace=True)
/tmp/ipykernel_14006/3718776054.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Fare'].fillna(final_df['Fare'].median(), inplace=True)

In [95]:
women = df.loc[df.Sex == 1]["Survived"]
rate_women = sum(women) / len(women)

print("% of women who survived:", rate_women * 100)

% of women who survived: 74.20382165605095

In [96]:
men = df.loc[df.Sex == 0]["Survived"]
rate_men = sum(men) / len(men)

print("% of men who survived: ", rate_men * 100)

% of men who survived:  18.890814558058924

In [101]:
df['Pclass'].value_counts().keys().tolist()

[3, 1, 2]

In [102]:
for cl in df['Pclass'].value_counts().keys().tolist():
    num_of_survived = df.loc[(df['Pclass'] == cl) & (df['Survived'] == 1)].shape[0]
    num_of_passengers = df.loc[df['Pclass'] == cl].shape[0]
    print("class: ", cl, " survival_rate: ", num_of_survived / num_of_passengers * 100)

class:  3  survival_rate:  24.236252545824847
class:  1  survival_rate:  62.96296296296296
class:  2  survival_rate:  47.28260869565217

In [105]:
df['Parch'].value_counts().keys().tolist()
for cl in df['Parch'].value_counts().keys().tolist():
    num_of_survived = df.loc[(df['Parch'] == cl) & (df['Survived'] == 1)].shape[0]
    num_of_passengers = df.loc[df['Parch'] == cl].shape[0]
    print("parch: ", cl, " survival_rate: ", num_of_survived / num_of_passengers * 100)

parch:  0  survival_rate:  34.365781710914455
parch:  1  survival_rate:  55.08474576271186
parch:  2  survival_rate:  50.0
parch:  5  survival_rate:  20.0
parch:  3  survival_rate:  60.0
parch:  4  survival_rate:  0.0
parch:  6  survival_rate:  0.0

In [109]:
df['SibSp'].value_counts().keys().tolist()
for cl in df['SibSp'].value_counts().keys().tolist():
    num_of_survived = df.loc[(df['SibSp'] == cl) & (df['Survived'] == 1)].shape[0]
    num_of_passengers = df.loc[df['SibSp'] == cl].shape[0]
    print("SibSp: ", cl, " survival_rate: ", num_of_survived / num_of_passengers * 100)

SibSp:  0  survival_rate:  34.53947368421053
SibSp:  1  survival_rate:  53.588516746411486
SibSp:  2  survival_rate:  46.42857142857143
SibSp:  4  survival_rate:  16.666666666666664
SibSp:  3  survival_rate:  25.0
SibSp:  8  survival_rate:  0.0
SibSp:  5  survival_rate:  0.0

In [122]:
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv('train.csv')

x = df.drop("Survived", axis=1)
y = df["Survived"]
featers_taking = ['Pclass', "Sex", "SibSp", "Parch"]

x = x[featers_taking]
x['Sex'] = x['Sex'].map({"male": 0, "female": 1})

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x_train, y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))
print(classification_report(y_test, predictions))

test_data = pd.read_csv('test.csv')
test_data_copy = test_data.copy()
test_data = test_data[featers_taking]
test_data['Sex'] = test_data["Sex"].map({"male": 0, "female": 1})
test_data_output = model.predict(test_data)
output = pd.DataFrame({'PassengerId': test_data_copy["PassengerId"],'Survived': test_data_output})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

0.7877094972067039
              precision    recall  f1-score   support

           0       0.80      0.85      0.82       105
           1       0.76      0.70      0.73        74

    accuracy                           0.79       179
   macro avg       0.78      0.78      0.78       179
weighted avg       0.79      0.79      0.79       179

Your submission was successfully saved!